:root {
  --fonts: Georgia, 'Times New Roman', Times, serif;
}

#jmbtron {
  font-family: var(--fonts);
  color: rgb(255, 251, 0);
}

#blurb {
  font-family: var(--fonts);
  margin-left: 800px;
}

#nav {
  font-family: var(--fonts);
  font-size: 19px;
  color: rgb(11, 71, 235);
}