:root {
  --fonts: Georgia, 'Times New Roman', Times, serif;
  --backgroundcolor: #284646;
}

#jmbtron {
  font-family: var(--fonts);
  color: rgb(255, 251, 0);
}

#blurb {
  font-family: var(--fonts);
  margin-left: 800px;
}