* {
	border: solid 2px black;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

#header {
	position: fixed;
	background-color: rgb(36, 157, 198);
	color: black;
  height: 200px;
}

#name {
	font-size: 42px;
	position: fixed;
  background-color: rgb(36, 157, 198);
	margin: 20px 20px 20px 20px;
}

#headnavbar {
	position: fixed;
	left: 1100px;
	top: 42px;
  background-color: rgb(36, 157, 198);
	font-size: 3em;
}

li.pagelist {
	display: inline;
	margin: 10px;
	padding: 10 px;
}

#passwordmaker {
  border: solid 2px red;
  width: 200px;
  height: 200px;
}

.footercontacts {
	display: flex;
	justify-content: center;
	list-style: none;
	position: fixed;
	bottom: 0px;
	height: 5pc;
	width: 100pc;
	background-color: black;
}

.contacts {
	display: inline;
	margin-left: 10px;
}

#gitimage {
	position: relative;
	padding-top: 1em;
	margin-bottom: 0.8em;
}

#email-icon {
	max-height: 3em;
	max-width: 3em;
}

#email {
	position: relative;
	bottom: 1.5em;
}
